{% extends 'base.html' %}

{% block title %}
Expense Categories
{% endblock title %}

{% block content %}
<main>
    <h1>
        Expense Category List
    </h1>
    <table>
        <thead>
            <th>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </th>
        </thead>
        <tbody>
            {% for item in category_list %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.receipt_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock content%}
